// ============================================= 
//              Banner                           
// ============================================= 

.banner {
    @include bg-imgs($bg-img);
}

[class^="banner--"] {
    color: $white;
    padding: 10% 0;

    @include mq(tablet) {

        .headline-primary {
            font-size: em(54px);
            font-weight: $font-weight--light;
            text-shadow: 0 0 em(8px) rgba(0, 0, 0, 0.6);
            padding: em(15px) 0;
            margin-bottom: 0;
        }

    }
}