// ============================================= 
//              Headlines                           
// ============================================= 

.headline {

    &-primary {
        @extend %hdln-prim;
        margin-bottom: em(70px, 42px);

        @include modi(grouped) {
            @extend %hdln-prim;
            margin-bottom: 0;
        }
    }

    &-secondary {
        @extend %hdln-seco;
        margin-top: 0;
        margin-bottom: em(30px, 24px);

        @include modi(grouped) {
            @extend %hdln-seco;
            font-size: em(18px);
            color: $white;
            font-weight: $font-weight--light;
            margin-top: em(10px, 24px);
            margin-bottom: em(54px, 24px);

            @include mq(tablet) {
                font-size: em(22px);
            }
        }
    }
}